.error-body {
	height: 100%;
	width: 100%;

	.error-page {
		text-align: center;
		padding-bottom: 300px;
		color: white;

		p {
			font-weight: 600;

			span {
				content: '';
				border-right: 1px solid white;
				padding: 0.5em 0px;
				margin: 0px 10px;
			}
		}
	}
}
